{{#if myProducts.length}}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#each myProducts}}
      <div class="col">
        <div class="card shadow-sm">
          <img src={{image}} alt={{title}} />
          <div class="card-body">
            <p class="card-text fw-bold fs-5">
              {{title}}
            </p>
            <p class="card-text fw-bold fs-5">
              {{description}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2 align-items-center">
                <div class="avatar bg-primary">
                  <p>{{getFullNameFirstCharacter user.firstName user.lastName}}
                  </p>
                </div>
                <p class="m-0">{{user.firstName}} {{user.lastName}}</p>
              </div>
              <small class="text-body-secondary fs-5">{{price}}.00$</small>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No Products</p>
{{/if}}